<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guowei.mapper.GwCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.guowei.pojo.GwCompany" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="template_id" property="templateId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_addr" property="companyAddr" jdbcType="VARCHAR" />
    <result column="company_contactname" property="companyContactname" jdbcType="VARCHAR" />
    <result column="company_contactposition" property="companyContactposition" jdbcType="VARCHAR" />
    <result column="company_contactphone" property="companyContactphone" jdbcType="VARCHAR" />
    <result column="company_contactwechat" property="companyContactwechat" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="purchased" property="purchased" jdbcType="TIMESTAMP" />
    <result column="did" property="did" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mid, template_id, company_name, company_addr, company_contactname, company_contactposition, 
    company_contactphone, company_contactwechat, created, purchased, did
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.guowei.pojo.GwCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gw_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from gw_company
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from gw_company
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.guowei.pojo.GwCompanyExample" >
    delete from gw_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.guowei.pojo.GwCompany" >
    insert into gw_company (id, mid, template_id, 
      company_name, company_addr, company_contactname, 
      company_contactposition, company_contactphone, 
      company_contactwechat, created, purchased, 
      did)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{templateId,jdbcType=BIGINT}, 
      #{companyName,jdbcType=VARCHAR}, #{companyAddr,jdbcType=VARCHAR}, #{companyContactname,jdbcType=VARCHAR}, 
      #{companyContactposition,jdbcType=VARCHAR}, #{companyContactphone,jdbcType=VARCHAR}, 
      #{companyContactwechat,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, #{purchased,jdbcType=TIMESTAMP}, 
      #{did,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.guowei.pojo.GwCompany" >
    insert into gw_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="templateId != null" >
        template_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyAddr != null" >
        company_addr,
      </if>
      <if test="companyContactname != null" >
        company_contactname,
      </if>
      <if test="companyContactposition != null" >
        company_contactposition,
      </if>
      <if test="companyContactphone != null" >
        company_contactphone,
      </if>
      <if test="companyContactwechat != null" >
        company_contactwechat,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="purchased != null" >
        purchased,
      </if>
      <if test="did != null" >
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="templateId != null" >
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyContactname != null" >
        #{companyContactname,jdbcType=VARCHAR},
      </if>
      <if test="companyContactposition != null" >
        #{companyContactposition,jdbcType=VARCHAR},
      </if>
      <if test="companyContactphone != null" >
        #{companyContactphone,jdbcType=VARCHAR},
      </if>
      <if test="companyContactwechat != null" >
        #{companyContactwechat,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="purchased != null" >
        #{purchased,jdbcType=TIMESTAMP},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.guowei.pojo.GwCompanyExample" resultType="java.lang.Integer" >
    select count(*) from gw_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update gw_company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=BIGINT},
      </if>
      <if test="record.templateId != null" >
        template_id = #{record.templateId,jdbcType=BIGINT},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddr != null" >
        company_addr = #{record.companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactname != null" >
        company_contactname = #{record.companyContactname,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactposition != null" >
        company_contactposition = #{record.companyContactposition,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactphone != null" >
        company_contactphone = #{record.companyContactphone,jdbcType=VARCHAR},
      </if>
      <if test="record.companyContactwechat != null" >
        company_contactwechat = #{record.companyContactwechat,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.purchased != null" >
        purchased = #{record.purchased,jdbcType=TIMESTAMP},
      </if>
      <if test="record.did != null" >
        did = #{record.did,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update gw_company
    set id = #{record.id,jdbcType=BIGINT},
      mid = #{record.mid,jdbcType=BIGINT},
      template_id = #{record.templateId,jdbcType=BIGINT},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_addr = #{record.companyAddr,jdbcType=VARCHAR},
      company_contactname = #{record.companyContactname,jdbcType=VARCHAR},
      company_contactposition = #{record.companyContactposition,jdbcType=VARCHAR},
      company_contactphone = #{record.companyContactphone,jdbcType=VARCHAR},
      company_contactwechat = #{record.companyContactwechat,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      purchased = #{record.purchased,jdbcType=TIMESTAMP},
      did = #{record.did,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.guowei.pojo.GwCompany" >
    update gw_company
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="templateId != null" >
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddr != null" >
        company_addr = #{companyAddr,jdbcType=VARCHAR},
      </if>
      <if test="companyContactname != null" >
        company_contactname = #{companyContactname,jdbcType=VARCHAR},
      </if>
      <if test="companyContactposition != null" >
        company_contactposition = #{companyContactposition,jdbcType=VARCHAR},
      </if>
      <if test="companyContactphone != null" >
        company_contactphone = #{companyContactphone,jdbcType=VARCHAR},
      </if>
      <if test="companyContactwechat != null" >
        company_contactwechat = #{companyContactwechat,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="purchased != null" >
        purchased = #{purchased,jdbcType=TIMESTAMP},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guowei.pojo.GwCompany" >
    update gw_company
    set mid = #{mid,jdbcType=BIGINT},
      template_id = #{templateId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_addr = #{companyAddr,jdbcType=VARCHAR},
      company_contactname = #{companyContactname,jdbcType=VARCHAR},
      company_contactposition = #{companyContactposition,jdbcType=VARCHAR},
      company_contactphone = #{companyContactphone,jdbcType=VARCHAR},
      company_contactwechat = #{companyContactwechat,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      purchased = #{purchased,jdbcType=TIMESTAMP},
      did = #{did,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>